/* Font import */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Catamaran:200|Exo');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');


.crt-feed-container {
    background-color: #013243 !important;
}

.btn, .btn-large:hover, .btn-small{
    background-color: transparent;
    /* border-color: #013243; */
    color: #fff;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: transparent;
    /* border-color: #013243; */
    color: #fff;
}

.gallery{
    padding-left: 8%;
}

/* Misc */
.container-fluid {
    max-width: 100%;
    background-color: #013243;
}

a,
h1,
h2 {
    outline: 0;
}

.quote {
    font-family: 'Montserrat', sans-serif;
}

.white-icon {
    color: #ffffff;
}

input::-moz-focus-inner {
    border: 0;
}

.heading {
    padding-top: 30vh;
    color: #ffffff;
}

header {
    margin: 0;
}

.fa-play-circle:hover {
    color: #555555;
}

.about-section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 0vh;
    background-color: #013243;
    color: #ffffff;
    font-family: 'Catamaran', cursive;
    max-width: 100%
}

.videos-section {
    padding-top: 5vh;
    padding-bottom: 1vh;
    min-height: 100vh;
    color: #fff;
    background-color: #013243;
    font-family: 'Catamaran', cursive;
    max-width: 100%
}

.video-text {
    padding-top: 10%;
}

/* Header */
.bg-container {
    background: url('/assets/img/Optimized-bgGuitar.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
}

.header-h1 {
    font-family: 'Montserrat', cursive;
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    animation-duration: 5s;
    animation-delay: 0.5s;
    -moz-animation-duration: 5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0.5s;
    -o-animation-duration: 5s;
    -o-animation-delay: 0.5s;
}

.header-h2 {
    font-family: 'Catamaran', cursive;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    animation-duration: 5s;
    animation-delay: 1s;
    -moz-animation-duration: 5s;
    -moz-animation-delay: 1s;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
    -o-animation-duration: 5s;
    -o-animation-delay: 1s;
}

/* Modal */
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

/* Socail icons */
.socialIcons {
    padding-left: 15px;
    padding-top: 3vh;
}

.socialIcons i {
    color: #fff;
    padding: 10px;
}

/* YouTube video Responsive */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}